*{
    font-family: "Lato", sans-serif;
}

li{
    margin:5px;
}

a{
    margin: 5px;  
    color: black;
}

img {
    width:100px;
    height: 100px;
}

.caption{
    background-color: grey;
}
.overlay{
    overflow: hidden;
    background-color: black;
    opacity: 0.9;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0%;
    position: absolute;
    transition: 0.5s ease;
    color: white !important;
}

.pic1:hover .overlay{
    height: 100%;
}
.body-image{

    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin: none;
    width: 300px;
    height: 240px;
    object-fit: cover;
}

.footer-image{
 
    padding: 10px;
    margin: 10px;
    
}

p{
    font-size: 28px;
}

.email-link{
    color: #0061ff;
}

.text-center{
    vertical-align: middle;
}


.background-image{
    background: url("2283.jpg");
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}

.list{
    font-size: 20px;
    font-color: #000;
}

body{
    overflow-x: hidden;
}

ul{
    list-style-type: none;
}
.row{
    margin-right: 10px;
}

.parallax{
    background: url("images/parallaxImg1.jpg");
    height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2{
    background: url("images/parallaxImg2.jpg");
    height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3{
    background: url("images/parallaxImg3.jpg");
    height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax4{
    background: url("images/parallaxImg4.PNG");
    height: 900px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax5{
    background: url("images/TitleSpan.jpg");
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.MoleImg{
    background-image: url("images/MashAMole.PNG");
    height: 805px;
    width: 603px;
    background-repeat: no-repeat;
}


header{
    width: 100% !important;
    position: fixed;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    color: #000;
}
.headerResume{
    background-color: #FFF !important;
}
.btn{
    background-color: none;
    color: #000;
}

.body{
    margin-top: 126px !important;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loaderRes {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin-top: 50%;
    margin: 20% 0% 25% -7%;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
